<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web03</display-name>
  
  <resource-ref>	
  	<res-ref-name>jdbc/studydb</res-ref-name> <!-- JNDI 이름 -->
  	<res-type>javax.sql.DataSource</res-type> <!-- 리턴될 자원의 클래스 이름(패키지명 포함) -->
  	<res-auth>Container</res-auth>			  <!-- 자원 관리의 주체 -->
  </resource-ref>
  
  <!-- 서블릿 선언
  <servlet>
  		<servlet-name>MemberUpdateServlet</servlet-name>
  		<servlet-class>lesson03.servlets.MemberUpdateServlet</servlet-class>
  		<init-param>
  			<param-name>driver</param-name>
  			<param-value>com.mysql.jdbc.Driver</param-value>
  		</init-param>
  		<init-param>
  			<param-name>url</param-name>
  			
  			<param-value>jdbc:mysql://localhost:3306/studydb?autoReconnect=true&useSSL=false;</param-value>
  			  위와 같이 & 를 사용할 경우 오류가 발생하기 때문에 아래와 같이 & 를 &amp; 으로 변경하여 사용한다. 
  			<param-value>jdbc:mysql://localhost:3306/studydb?autoReconnect=true&amp;useSSL=false;</param-value>
  		</init-param>
  		<init-param>
  			<param-name>username</param-name>
  			<param-value>test</param-value>
  		</init-param>
  		<init-param>
  			<param-name>password</param-name>
  			<param-value>123123</param-value>
  		</init-param>
  </servlet>
-->

<context-param>
	<param-name>driver</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value></context-param>
<context-param>
	<param-name>url</param-name>
  	<param-value>jdbc:mysql://localhost:3306/studydb?autoReconnect=true&amp;useSSL=false</param-value>
</context-param>
<context-param>
	<param-name>username</param-name>
  	<param-value>test</param-value>
</context-param>
<context-param>
	<param-name>password</param-name>
  	<param-value>123123</param-value>
</context-param>


  <servlet>
  		<servlet-name>AppInitServlet</servlet-name>
  		<servlet-class>lesson03.servlets.AppInitServlet</servlet-class>  		
  		<load-on-startup>1</load-on-startup>
  </servlet>
<!-- 
	필터 선언
	<filter>
			<filter-name>CharacterEncodingFilter</filter-name>
			<filter-class>lesson03.filters.CharacterEncodingFilter</filter-class>
			
			<init-param>
				<param-name>encoding</param-name>
				<param-value>UTF-8</param-value>
			</init-param>
	</filter>

	필터 URL 매핑
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
-->
<!-- 
<servlet-mapping>
	<servlet-name>MembetUpadateServlet</servlet-name>
	<url-pattern>/member/update</url-pattern>
</servlet-mapping>
 -->
 
 <!-- 리스너 선언
 <listener>
 	<listener-class>lesson03.listener.ContextLoaderListener</listener-class>	
 </listener>
  -->
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
















